/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #24b8ff;
  --ifm-color-primary-dark: #24b8ff;
  --ifm-color-primary-darker: #24b8ff;
  --ifm-color-primary-darkest: #008acc;
  --ifm-color-primary-light: #24b8ff;
  --ifm-color-primary-lighter: #50c6ff;
  --ifm-color-primary-lightest: #7bd4ff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #24b8ff;
  --ifm-color-primary-dark: #24b8ff;
  --ifm-color-primary-darker: #24b8ff;
  --ifm-color-primary-darkest: #008acc;
  --ifm-color-primary-light: #24b8ff;
  --ifm-color-primary-lighter: #50c6ff;
  --ifm-color-primary-lightest: #7bd4ff;
}